/* General layout */
.ms-blue-hover:hover{
    color:rgb(0,55,209);
}

.ms-blue-focus:focus{
    color:rgb(0,55,209);
}

.ms-cursor-hover:hover{
    cursor: pointer;
}

/* Buttons layout */
.ms-button{
    display: inline-block;
    padding: 5px 10px;
}

.ms-blackwhite {
    box-shadow: 0 0 0 3px black;
    background-color: black;
    transition: box-shadow 1s, background-color 1s;
}

.ms-blackwhite:hover{
    box-shadow: 0 0 0 3px rgb(60,60,60), inset 0 0 0 2px white; 
    background-color: rgb(60,60,60);
}

.ms-redblack{
    background-color: rgb(205,61,15);
    box-shadow: 0 0 0 3px rgb(205,61,15);
    transition: box-shadow 1s;
}

.ms-redblack:hover{
    box-shadow: 0 0 0 3px rgb(205,61,15), inset 0 0 0 2px black; 
}

.ms-bluewhite{
    background-color: #0d6efd;
    box-shadow: 0 0 0 3px #0d6efd;
    transition: box-shadow 1s;
}

.ms-bluewhite:hover{
    box-shadow: 0 0 0 3px #0d6efd, inset 0 0 0 2px white; 
}

.ms-whiteblack{
    background-color: white;
    box-shadow: 0 0 0 3px white;
    transition: box-shadow 1s;
}

.ms-whiteblack:hover{
    box-shadow: 0 0 0 3px white, inset 0 0 0 2px black; 
}

/* Header layout */
header .fixed-top{
    z-index: 99;
}

.ms-sony{
    height:15px;
}

.ms-chevron{
    display: inline-block;
    height:12px;
    width:12px;
}

.ms-hidden{
    display: none;
}

.ms-chevron-menu{
    width:calc(100vw - 64px);
    position:absolute;
    top:100%;
    left:0;
}

.ms-chevron-hover:focus .ms-hidden-hover{
    display: none;
}

.ms-chevron-hover:focus .ms-hidden{
    display: inline-block;
}

.ms-chevron-hover:hover .ms-hidden-hover{
    display: none;
}

.ms-chevron-hover:hover .ms-hidden{
    display: inline-block;
}

.ms-chevron-hover:focus .ms-half-rotate{
    transform: rotate(0.5turn);
}

.ms-shadow-hover:hover{
    box-shadow: 2px 2px 4px rgb(125,125,125);
}

.ms-lens{
    width:32px;
    height:32px;
}

/* Jumbo layout */
#jumbo{
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    margin-top:112px;
    min-height:675px;
}

#jumbo .container-sm .row{
    padding-top:320px;
}

/* Hardware section layout */
#hardware{
    margin-bottom: 30px;
}

#hardware .image-container img{
    width:100%;
    border-radius:30px;
    padding:1px;
}

.ms-rounded{
    border-radius:30px;
}

.ms-img-hovered{
    top:0;
    transition: top 1s;
}

.ms-img-hover:hover .ms-img-hovered{
    top:-15px;
}

#hardware .ms-margin{
    margin:150px 0 50px;
}

.ms-greyscale{
    opacity: 0.5;
    transition: opacity 0.5s;
}

.ms-greyscale:hover{
    opacity: 1;
}

#bottom-bar{
    position:relative;
}

#bottom-bar::after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:2px;
    background-color: blue;
}

/* Gameadv section */
#gameadv{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
}
 
/* New games section */
#newgames{
    background-color: rgb(31,31,31);
}

#newgames .ms-rounded{
    border-radius:30px;
}

#newgames .ms-margin{
    margin:15px auto;
}

/* Explore section */
#explore .ms-margin{
    margin:50px auto;
}

/* Playstation plus section */
#playstation-plus{
    background-color: rgb(190,188,187);
}

.ms-button-2{
    background-color: rgb(217,218,220);
}

.ms-button-2:hover{
    background-color: rgb(217,218,220);
}


.ms-button-2:focus{
    background-color: rgb(217,218,220);
}


/* Play store section */
#play-store .ms-margin{
    margin:50px auto;
}

/* Playstation now section */
#playstation-now{
    background-color:rgb(22,28,59)
}

/* Socials section */
#socials .ms-margin{
    margin:50px auto;
}

/* Footer layout */
footer{
    background-color: rgb(0,67,156);
}

.ms-footer-logo{
    filter: brightness(0) invert(1);
}

.ms-globe{
    width:2em;
    padding-right:10px;
}

@media only screen and (min-width: 768px){
    #jumbo .container-sm .row{
        padding-top:320px;
    }
}

@media only screen and (min-width: 992px){
    .ms-chevron-menu{
        width:100vw;
    }

    #jumbo .container-sm .row{
        padding-top:250px;
    }
}

