/* General layout */
.ms-link-hover:hover{
    color:blue !important;
}

.ms-button{
    transition:border 0.5s;
}

.ms-button:focus{
    border: 1px solid white;
}

.ms-button-padding{
    padding:2px;
}

.ms-red{
    background-color: rgb(205,61,15);
}

/* Header layout */
header .fixed-top{
    z-index: 99;
}

.ms-sony{
    height:15px;
}

.ms-chevron{
    display: inline-block;
    height:12px;
    width:12px;
}

.ms-hidden{
    display: none;
}

.ms-chevron-menu{
    width:100vw;
    position:absolute;
    top:100%;
    left:0;
}

.ms-half-rotate{
    transform: rotate(0.5turn);
}

.ms-chevron-hover:focus .ms-hidden-hover{
    display: none;
}

.ms-chevron-hover:focus .ms-hidden{
    display: inline-block;
}

.ms-shadow-hover{
    width:100%;
}

.ms-shadow-hover:hover{
    box-shadow: 2px 2px 4px rgb(125,125,125);
}

.ms-lens{
    width:32px;
    height:32px;
}

/* Jumbo layout */
#jumbo{
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    margin-top:112px;
    min-height:675px;
}

#jumbo .container-lg .row{
    position:relative;
    top:150px;
    left:0;
}

/* Hardware section layout */
#hardware{
    margin-bottom: 30px;
}

#hardware .image-container img{
    width:100%;
    border-radius:30px;
    padding:1px;
}

.ms-rounded{
    border-radius:30px;
}

.ms-img-hovered{
    top:0;
    transition: top 1s;
}

.ms-img-hover:hover .ms-img-hovered{
    top:-15px;
}

#hardware .ms-margin{
    margin:150px 0 50px;
}

.ms-greyscale{
    opacity: 0.5;
    transition: opacity 0.5s;
}

.ms-greyscale:hover{
    opacity: 1;
}

#bottom-bar{
    position:relative;
}

#bottom-bar::after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:2px;
    background-color: blue;
}

/* Gameadv section */
#gameadv{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
}
 
/* New games section */
#newgames{
    background-color: rgb(31,31,31);
}

#newgames .ms-rounded{
    border-radius:30px;
}

/* Explore section */
#explore .ms-margin{
    margin:50px auto;
}

/* Playstation plus section */
#playstation-plus{
    background-color: rgb(190,188,187);
}

.ms-button-2{
    background-color: rgb(217,218,220);
}