/* Header layout */
header .fixed-top{
    z-index: 99;
}

.ms-sony{
    height:15px;
}

.ms-chevron{
    display: inline-block;
    height:12px;
    width:12px;
}

.hidden{
    display: none;
}

.chevron-menu{
    position:absolute;
    top:100%;
    left:0;
}

.ms-half-rotate{
    transform: rotate(0.5turn);
}

.ms-chevron-hover:hover .hidden-hover{
    display: none;
}

.ms-chevron-hover:hover .hidden{
    display: inline-block;
}

.ms-lens{
    width:32px;
    height:32px;
}

/* Games section layout */
#jumbo{
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    margin-top:112px;
    min-height:675px;
}

#jumbo .container-fluid .row{
    padding:250px 0 0;
}

.ms-game-logo{
    width: 100%;
}